#main {
    top: 4rem;
    width: 80rem;
    margin: 0 auto;
    padding: 3rem 5rem;
    position: relative;
}

#main > .com_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

#main > .com_head > h1 {
    color: #009963;
}

#main > .con_title > h3 {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
}

button.green {
    border: none;
    border-radius: 5px;
    background-color: #009963dd;
    color: white;
    cursor: pointer;
    padding: 0.6rem 1.8rem;
}

button.green:hover {
    background-color: #009963;
}

button.common {
    border: none;
    border-radius: 5px;
    background-color: #cececedd;
    color: black;
    cursor: pointer;
    padding: 0.6rem 1.8rem;
    font-size: 0.9rem;
}

button.common:hover {
    background-color: #cecece;
}

.button_common {
    border: none;
    border-radius: 5px;
    background-color: #cececedd;
    color: black;
    cursor: pointer;
    padding: 0.5rem 1.8rem;
    font-size: 0.9rem;
}

.button_common:hover {
    background-color: #cecece;
}