table {
    width: 100%;
    border-collapse: collapse;
}

table > thead > tr{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

table > tbody > tr {
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}

table > thead th {
    font-weight: 400;
    padding: 0.5rem;
}

table > tbody td {
    text-align: center;
    font-weight: 300;
    padding: 0.5rem;
}

table > tbody td:nth-child(2) {
    padding: 0.5rem 1rem;
}

table > tbody td:nth-child(2) {
    text-align: left;
}

table > tbody td:nth-child(3) {
    text-align: center; /* nickname 셀만 중앙 정렬 */
}

table > tfoot > .paging {
    border : none;
}

table > tfoot > .paging > td {
    padding: 5rem;
    text-align: center;
}

table > tfoot .paging-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

table > tfoot .paging-div > .page-btn {
    width: 1.7rem;
    height: 1.7rem;
    border: 1px solid #bdbdbd;
    border-radius: 999px;
    padding-bottom: 0.1rem;
    font-size: 0.9rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

table > tfoot .paging-div > .page-btn.sel {
    background-color: #009963;
    border: 1px solid #009963;
    color: white;
    cursor: default;
}

table > tfoot .paging-div > i {
    cursor: pointer;
    font-size: 1.2rem;
}

a.disabled {
    pointer-events: none; /* 클릭 불가 */
    color: gray; /* 비활성화 색상 */
    cursor: default; /* 기본 커서 */
}