<!-- community_main.html -->
<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{community/community_base :: head(~{::title},~{::link}, ~{::script})}">
    <title>BestMe - Community</title>
    <!--css, js 추가 시 사용-->
    <link rel="stylesheet" type="text/css" th:href="@{/styles/community/board_view.css}">
    <script defer type="text/javascript" th:src="@{/scripts/community/detail.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/community/file.js}"></script>
</head>
<body th:replace="~{community/community_base :: body}">
    <!-- 실제 페이지 내용 -->
    <div th:fragment="content">
        <main id="main" th:data-board-id="${boardId}">
            <!-- 페이지 내용 추가 -->
            <!-- 상단 디자인 -->
            <div class="contents1" id="main-content">
                <div class="contents_sub">
                    <!--게시판-->
                    <div class="board_view">
                        <table>
                            <tr>
                                <th width="10%">제목</th>
                                <td width="60%" id="subject"></td>
                                <th width="10%">등록일</th>
                                <td width="20%" id="createdAt"></td>
                            </tr>
                            <tr>
                                <th>글쓴이</th>
                                <td id="nickname"></td>
                                <th>조회</th>
                                <td id="view"></td>
                            </tr>
                            <tr>
                                <th>카테고리</th>
                                <td id="category"></td>
                            </tr>
                            <tr>
                                <td colspan="4" height="200" valign="top" style="padding:20px; line-height:160%" id="content"></td>
                            </tr>
                            <!--이미지 파일 로드-->
                            <tr>
                                <th>이미지 파일</th>
                                <td colspan="4" height="200" valign="top" style="padding:20px; line-height:160%" id="image-fIle"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="btn_area">
                        <div class="align_left" >
                            <input type="button" value="목록" class="btn_list btn_txt02" style="cursor: pointer;" onclick="location.href='/community'" />
                        </div>
                        <div class="align_right" id="buttons"></div>
                    </div>
                    <!--//게시판-->
                    <!-- 이전글 / 다음글(구현 보류) -->
                    <!--
                    <div class="next_data_area">
                        <span class="b">다음글 | </span><a href="view.do">다음글이 없습니다.</a>
                    </div>
                    <div class="prev_data_area">
                        <span class="b">이전글 | </span><a href="view.do">이전글이 없습니다.</a>
                    </div>
                    -->
                </div>
                <!-- 하단 디자인 -->
            </div>
        </main>
    </div>
</body>
</html>