<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/modal.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/delete_profile.css}">
    <script src="https://kit.fontawesome.com/5fcc17a7cc.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" th:src="@{/scripts/common.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/modal.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/mypage/delete_profile.js}"></script>
</head>
<body>
<header id="header">
    <div class="header-box">
        <a href="/">
            <i class="fa-solid fa-droplet"></i>
            <span>Best Me</span>
        </a>
    </div>
    <div class="header-box">
        <ul>
            <li>
                <a href="/">홈</a>
            </li>
            <li>
                <a href="/personal">퍼스널컬러 테스트</a>
            </li>
            <li>
                <a href="/style/guide">스타일링 추천</a>
            </li>
            <li>
                <a href="/community">커뮤니티</a>
            </li>
            <li class="sel">
                <a href="/member">마이 페이지</a>
            </li>
        </ul>
    </div>
    <div class="header-box login">
    </div>
</header>
<div class="parent">
    <div class="sidebar">
        <span class="highlight">마이페이지</span>
        <ul class="sidebar_list">
            <li>
                <a href="/member">진단 결과 히스토리</a>
            </li>
            <li>
                <a href="/member/my_posting">내가 작성한 게시물</a>
            </li>
            <li>
                <a href="/member/modify_profile">내 정보 변경</a>
            </li>
            <li>
                <a href="/member/delete_profile">회원 탈퇴</a>
            </li>
        </ul>
    </div>
    <div class="content">
        <h3 class="title">Best Me 회원 탈퇴</h3>
        <form id="delete_form">
            <span>로그인 시 필요한 비밀번호를 입력해주세요.</span>
            <label>
                <input type="password" name="password">
                <button type="button" class="check"><i class="fa-solid fa-eye-slash"></i></button>
            </label>
            <button type="submit" class="green">회원 탈퇴하기</button>
        </form>
    </div>
</div>

</body>
</html>