#delete_form {
    width: 60%;
    height: 20rem;
    padding: 2rem;

    border: 1px solid #bdbdbd;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#delete_form:hover {
    box-shadow: 0 0 5px #bdbdbd;
}

#delete_form > span {
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

#delete_form > label {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#delete_form > label:focus-within {
    border: 1px solid #009963;
}

#delete_form > label > input{
    border: none;
    outline: none;
    font-size: 1.1rem;
}

button.check {
    border: none;
    background-color: white;
    cursor: pointer;
}