.parent{
    top: 4rem;
    display: flex;
    position: relative;
    width: 80rem;
    height: 100%;
    margin: 0 auto;

    flex-direction: row;
    gap: 5rem;
}
.sidebar {
    /*background-color: blue;*/
    top: 10rem;
    width: 20rem;
    height: 100%;
    border-radius: 20px;
    border: 1px solid black;
    padding: 25px;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 2;
}

.sidebar:hover {
    box-shadow: 0 0 10px #bdbdbd;
}

.sidebar_list{
    list-style: none;
}

.sidebar_list a {
    text-decoration: none;
}

.sidebar_list a:hover {
    text-decoration: underline;
}

.title{
    font-size: 3rem;
    margin-bottom: 3rem;
}

.content{
    /*background-color: #FEE500;*/
    height: 100%;
    margin-top: 4rem;
    width: 70rem;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.highlight {
    font-size: 1.5rem;
    font-weight: bold;
    color: #009963;
}

.describe {
    width: 35rem;
    margin : 1rem 0 5rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    list-style: none;
    line-height: 1rem;
    background-color: #bdbdbd77;
    padding: 1rem;
}

.describe > li {
    color: #424242;
    font-size: 0.8rem;
}

button.green {
    cursor: pointer;
    background-color: #009963dd;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.1rem;
    padding: 1rem 5rem;
}

button.green:hover {
    background-color: #009963;
}