#modify_form {
    width: 60%;
    padding: 2rem;

    border: 1px solid black;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#modify_form:hover {
    box-shadow: 0 0 5px #bdbdbd;
}

#modify_form {
    width: 35rem;

    border: 1px solid #bdbdbd;
    border-radius: 1rem;

    padding: 3rem 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#modify_form:hover,
#modify_form:focus-within {
    box-shadow: 0 0 5px #bdbdbd;
}

#modify_form label input[type="text"], input[type="password"]{
    border: none;
    outline: none;
}

#modify_form > h1 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

#modify_form > .valid-check {
    width: 100%;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

#modify_form > .origin-password button,
#modify_form > .new-password button,
#modify_form > .new-password-check button {
    border: none;
    background-color: white;
    cursor: pointer;
}

#modify_form .desc-text {
    color: #bdbdbd;
    font-size: 0.8rem;
}

#modify_form .text-label {
    width: 100%;
    padding: 0.5rem;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#modify_form .gender-div {
    width: 100%;
    padding: 0.7rem 2.5rem;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

#modify_form .radio-label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
}

#modify_form .radio-label > input[type="radio"] {
    cursor: pointer;
}

#modify_form .radio-label > span {
    cursor: pointer;
    font-size: 0.8rem;
    color: #bdbdbd;
}

#modify_form .radio-label > input[type="radio"]:checked + span {
    color: black;
}

#modify_form .text-label > input[type="password"],
#modify_form .text-label > input[type="text"] {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.2rem;
}


#modify_form > .valid-check:focus-within > .desc-text,
#modify_form > .identification > .valid-check:focus-within > .desc-text {
    color: #009963;
}


#modify_form > .valid-check > .text-label,
#modify_form > .identification > .valid-check > .text-label,
#modify_form > .identification > .valid-check > .gender-div {
    border: 1px solid #bdbdbd;
}


#modify_form > .valid-check:focus-within > .text-label,
#modify_form > .identification > .valid-check:focus-within > .text-label,
#modify_form > .identification > .valid-check:focus-within > .gender-div {
    border: 1px solid #009963;
}

#modify_form > .identification {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

#modify_form .warning {
    color: red;
    font-size: 0.8rem;
    display: none;
}

#modify_form .valid-check.-invalid > span {
    color: red;
}

#modify_form .valid-check.-invalid > .text-label,
#modify_form .valid-check.-invalid > .gender-div{
    border: 1px solid red;
}

#modify_form .valid-check.-invalid > .warning {
    display: inline-block;
}

button.green {
    margin-top: 1rem;
    width: 100%;
}