<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>BestMe</title>
  <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/guide.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/styles/modal.css}">
  <script src="https://kit.fontawesome.com/5fcc17a7cc.js" crossorigin="anonymous"></script>
  <script defer type="text/javascript" th:src="@{/scripts/common.js}"></script>
  <script defer type="text/javascript" th:src="@{/scripts/guide.js}"></script>
</head>
<body>
<header id="header">
  <div class="header-box">
    <a href="/">
      <i class="fa-solid fa-droplet"></i>
      <span>Best Me</span>
    </a>
  </div>
  <div class="header-box">
    <ul>
      <li>
        <a href="/">홈</a>
      </li>
      <li>
        <a href="/personal">퍼스널컬러 테스트</a>
      </li>
      <li class="sel">
        <a href="/style/guide">스타일링 추천</a>
      </li>
      <li>
        <a href="/community">커뮤니티</a>
      </li>
      <li>
        <a href="/member">마이 페이지</a>
      </li>
    </ul>
  </div>
  <div class="header-box login">
  </div>
</header>
<main id="guide">
  <div class="tab-container">
    <a class="tab" href="/style/guide">개인 맞춤 가이드</a>
    <a class="tab" href="/style/guide/items">맞춤 아이템 추천</a>
  </div>

  <div class="container">
    <div id="guide-d1" class="guide-d1">회원님의 퍼스널 컬러는 <span id="guide-c1"></span>입니다.</div>
    <div id="guide-d2" class="guide-d2"><span id="guide-c2"></span>의 스타일링 가이드는 아래와 같습니다.</div>
    <section id="color-guide" class="color-guide">
      <div class="color-section">
        <h2>🎨 색상 팔레트</h2>
        <img id="color-image" alt="">
      </div>
      <div class="color-section" id="hair-guide">
        <h2>👩‍🦰 헤어 컬러 가이드</h2>
      </div>
      <div class="color-section" id="fashion-guide">
        <h2>👗 패션 가이드</h2>
      </div>
      <div class="color-section" id="makeup-guide">
        <h2>💄 메이크업 가이드</h2>
      </div>
    </section>

    <section id="non-member" class="non-member">
      <div class="non-member-h">로그인 후 자신만의 맞춤형 가이드를 제공받아보세요.</div>
      <button id="non-member-login" type="submit">로그인 하러가기</button>
    </section>
  </div>
</main>

</body>
</html>
