<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BestMe</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/home.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/modal.css}">
    <script src="https://kit.fontawesome.com/5fcc17a7cc.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" th:src="@{/scripts/common.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/modal.js}"></script>
</head>
<body>
<header id="header">
    <div class="header-box">
        <a href="/">
            <i class="fa-solid fa-droplet"></i>
            <span>Best Me</span>
        </a>
    </div>
    <div class="header-box">
        <ul>
            <li class="sel">
                <a href="/">홈</a>
            </li>
            <li>
                <a href="/personal">퍼스널컬러 테스트</a>
            </li>
            <li>
                <a href="/style/guide">스타일링 추천</a>
            </li>
            <li>
                <a href="/community">커뮤니티</a>
            </li>
            <li>
                <a href="/member">마이 페이지</a>
            </li>
        </ul>
    </div>
    <div class="header-box login">
    </div>
</header>
<main id="main">

    <div class="section-container">
        <section class="main-img">
            <div class="img-box" th:style="'background-image: url(/imgs/bestme.jpg)'"></div>
            <div class="text-box">
                <span class="big">나의 가장 최선의 모습, Best Me</span>
                <span class="small">Personal color is a color that complements a person's skin tone, hair color, and eye color.</span>
                <span>It can help people choose the right colors for their clothing, cosmetics, and accessories.</span>
            </div>
        </section>
        <section class="featured-post">
            <span class="title">Featured Posts</span>
            <div class="post-container">
                <div class="post">
                    <a class="post-img-box" href="#">
                        <img th:src="@{/imgs/post1.png}" alt="">
                    </a>
                    <a class="subject" href="#">퍼스널 컬러란?</a>
                    <span class="writer">by BestMe</span>
                    <span class="views">15k views</span>
                </div>
                <div class="post">
                    <a class="post-img-box" href="#">
                        <img th:src="@{/imgs/post2.png}" alt="">
                    </a>
                    <a class="subject" href="#">퍼스널 컬러란?</a>
                    <span class="writer">by BestMe</span>
                    <span class="views">15k views</span>
                </div>
                <div class="post">
                    <a class="post-img-box" href="#">
                        <img th:src="@{/imgs/post3.jpg}" alt="">
                    </a>
                    <a class="subject" href="#">퍼스널 컬러란?</a>
                    <span class="writer">by BestMe</span>
                    <span class="views">15k views</span>
                </div>
                <div class="post">
                    <a class="post-img-box" href="#">
                        <img th:src="@{/imgs/post4.jpg}" alt="">
                    </a>
                    <a class="subject" href="#">퍼스널 컬러란?</a>
                    <span class="writer">by BestMe</span>
                    <span class="views">15k views</span>
                </div>
            </div>
        </section>
    </div>
</main>
</body>
</html>