<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header id="header">
    <div class="header-box">
        <a href="/">
            <i class="fa-solid fa-droplet"></i>
            <span>Best Me</span>
        </a>
    </div>
    <div class="header-box">
        <ul>
            <li class="sel">
                <a href="/">홈</a>
            </li>
            <li>
                <a href="#">퍼스널컬러 테스트</a>
            </li>
            <li>
                <a href="#">스타일링 추천</a>
            </li>
            <li>
                <a href="#">커뮤니티</a>
            </li>
            <li>
                <a href="#">마이 페이지</a>
            </li>
        </ul>
    </div>
    <div class="header-box">
        <div class="user-box">
            <button class="login" type="button" onclick="location.href = '/login'">Log in</button>
            <button class="sign-up" type="button" onclick="location.href = '/join'">Sign up</button>
        </div>
    </div>
</header>
</body>
</html>