<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BestMe 로그인</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/modal.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/login.css}">
    <script src="https://kit.fontawesome.com/5fcc17a7cc.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" th:src="@{/scripts/common.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/modal.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/login.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/kakaoLogin.js}"></script>
</head>
<body>
<header id="header">
    <div class="header-box">
        <a href="/">
            <i class="fa-solid fa-droplet"></i>
            <span>Best Me</span>
        </a>
    </div>
    <div class="header-box">
        <ul>
            <li>
                <a href="/">홈</a>
            </li>
            <li>
                <a href="/personal">퍼스널컬러 테스트</a>
            </li>
            <li>
                <a href="/style/guide">스타일링 추천</a>
            </li>
            <li>
                <a href="/community">커뮤니티</a>
            </li>
            <li>
                <a href="/member">마이 페이지</a>
            </li>
        </ul>
    </div>
    <div class="header-box login">
    </div>
</header>
<main id="main">
    <section id="login-section">
        <form id="login-form">
            <h1>BestMe 로그인</h1>
            <div class="email">
                <span class="desc-text">이메일</span>
                <label class="text-label">
                    <input class="input-en" autocomplete="off" type="text" name="email">
                </label>
            </div>
            <div class="password">
                <span class="desc-text">비밀번호</span>
                <label class="text-label">
                    <input type="password" name="password">
                    <button type="button"><i class="fa-solid fa-eye-slash"></i></button>
                </label>
                <span class="desc-text">비밀번호는 8자리 이상의 영어, 숫자, 특수문자의 조합입니다.</span>
            </div>
            <div class="email-remember">
                <label>
                    <input hidden type="checkbox" name="remember">
                    <span class="ckBox"><i class="fa-solid fa-check"></i></span>
                    <span>이메일 기억하기</span>
                </label>
                <a href="/resetPassword">비밀번호를 잊으셨나요?</a>
            </div>
            <button class="login-btn">로그인</button>
            <span class="horizontal-bar"></span>
            <span>다른 로그인 방법</span>
            <button type="button" class="kakao">
                <div id="kakao-login-btn"
                     th:attr="data-client-id=${clientId}, data-redirect-uri=${redirectUri}">
                    <img th:src="@{/imgs/pngwing.com.png}" alt="">
                    <span>카카오로 로그인하기</span>
                </div>
            </button>
            <span class="horizontal-bar"></span>
            <span>회원이 아니신가요?
                <a href="/join">회원가입하기</a>
            </span>
        </form>
    </section>
</main>
</body>
</html>