<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재설정</title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles/modal.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/header.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/resetPassword.css}">
    <script src="https://kit.fontawesome.com/5fcc17a7cc.js" crossorigin="anonymous"></script>
    <script defer type="text/javascript" th:src="@{/scripts/common.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/modal.js}"></script>
    <script defer type="text/javascript" th:src="@{/scripts/resetPassword.js}"></script>
</head>
<body>
<header id="header">
    <div class="header-box">
        <a href="/">
            <i class="fa-solid fa-droplet"></i>
            <span>Best Me</span>
        </a>
    </div>
    <div class="header-box">
        <ul>
            <li class="sel">
                <a href="/">홈</a>
            </li>
            <li>
                <a href="/personal">퍼스널컬러 테스트</a>
            </li>
            <li>
                <a href="/style/guide">스타일링 추천</a>
            </li>
            <li>
                <a href="/community">커뮤니티</a>
            </li>
            <li>
                <a href="/member">마이 페이지</a>
            </li>
        </ul>
    </div>
    <div class="header-box login">
    </div>
</header>
<main id="main">
    <section id="identify-user-section" class="-visible">
        <form id="identify-user-form" th:with="userRegex=${T(com.example.bestme.regex.UserRegex)}">
            <h1>BestMe 계정 확인</h1>
            <div class="email valid-check">
                <span class="desc-text">이메일</span>
                <label class="text-label">
                    <input class="input-en" autocomplete="off" type="text" name="email" th:attrappend="data-regex=${userRegex.email.expression}">
                </label>
                <span class="warning"></span>
            </div>
            <div class="birth valid-check">
                <span class="desc-text">생년월일</span>
                <label class="text-label">
                    <input class="input-en" minlength="6" maxlength="6" autocomplete="off" type="text" name="birth" th:attrappend="data-regex=${userRegex.birth.expression}">
                </label>
                <span class="warning"></span>
            </div>
            <button class="identify-user-btn">계정 확인</button>
        </form>
    </section>
    <section id="reset-password-section">
        <form id="reset-password-form" th:with="userRegex=${T(com.example.bestme.regex.UserRegex)}">
            <h1>BestMe 비밀번호 재설정</h1>
            <div class="password valid-check">
                <span class="desc-text">비밀번호</span>
                <label class="text-label">
                    <input hidden type="text" name="user_id">
                    <input type="password" name="password" minlength="8" th:attrappend="data-regex=${userRegex.password.expression}">
                    <button type="button"><i class="fa-solid fa-eye-slash"></i></button>
                </label>
                <span class="desc-text">비밀번호는 8자리 이상의 영어, 숫자, 특수문자의 조합입니다.</span>
            </div>
            <button class="reset-password-btn">비밀번호 재설정</button>
        </form>
    </section>
</main>
</body>
</html>