@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');
}
@font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');
}

* {
    font-family: 'Noto Sans KR', sans-serif;
    padding: unset;
    margin: unset;
    box-sizing: border-box;
    color: black;
}

body {
    overflow-y: scroll;
}

#header {
    width: 100%;
    height: 4rem;
    position: fixed;
    padding: 1.5rem 3rem;

    background-color: white;
    border-bottom: 1px solid #bdbdbd;

    display: grid;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 2rem;

    z-index: 9;
}

#header > .header-box {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#header > .header-box:first-child {
    justify-content: flex-start;
}

#header > .header-box:last-child {
    justify-content: flex-end;
}

#header > .header-box > a {


    text-decoration: none;

    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: left;
}

#header > .header-box  > a > i {
    font-size: 0.8rem;
    padding-right: 0.5rem;

    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

#header > .header-box  > a > span {
    font-size: 1.1rem;

    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
}

#header > .header-box  > a:hover > i,
#header > .header-box  > a:hover > span {
    text-shadow: 0 0 2px #bdbdbd;
}

#header > .header-box  > ul {
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
}

#header > .header-box  > ul > li {
    list-style: none;
}

#header > .header-box  > ul > li > a {
    font-size: 1rem;
    text-decoration: none;
}

#header > .header-box  > ul > li > a:hover {
    text-shadow: 0 0 1px black;
}

#header > .header-box  > ul > li.sel > a{
    color: #009963;
    font-weight: 600;
}

#header > .header-box  > ul > li.sel > a:hover{
    text-shadow: 0 0 1px #009963;
}

#header > .header-box  > .spring {
    flex : 1;
}

#header > .header-box  > .user-box {

    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 1rem;
}

#header > .header-box  > .user-box > button {
    border-radius: 30px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.8rem 1.5rem;
}

#header > .header-box  > .user-box > .login {
    border: none;
    background: #009963;
    color: white;
}

#header > .header-box  > .user-box > .login:hover {
    box-shadow: 0 0 5px #009963;
}

#header > .header-box  > .user-box > .sign-up,
#header > .header-box  > .user-box > .logout {
    border: none;
    background: #dddddd;
}

#header > .header-box  > .user-box > .sign-up:hover,
#header > .header-box  > .user-box > .logout:hover {
    box-shadow: 0 0 5px black;
}