#main {
    top: 4rem;
    margin: 0 auto;

    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#join-section {
    width: 65rem;

    padding: 5rem 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#join-form {
    width: 35rem;

    border: 1px solid #bdbdbd;
    border-radius: 1rem;

    padding: 3rem 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#join-form:hover,
#join-form:focus-within {
    box-shadow: 0 0 5px #bdbdbd;
}

#join-form label input[type="text"], input[type="password"]{
    border: none;
    outline: none;
}

#join-form > h1 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

#join-form > .valid-check {
    width: 100%;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

#join-form > .password button,
#join-form > .password-check button{
    border: none;
    background-color: white;
    cursor: pointer;
}

#join-form .desc-text {
    color: #bdbdbd;
    font-size: 0.8rem;
}

#join-form .text-label {
    width: 100%;
    padding: 0.5rem;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#join-form .gender-div {
    width: 100%;
    padding: 0.7rem 2.5rem;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

#join-form .radio-label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
}

#join-form .radio-label > input[type="radio"] {
    cursor: pointer;
}

#join-form .radio-label > span {
    cursor: pointer;
    font-size: 0.9rem;
    color: #bdbdbd;
}

#join-form .radio-label > input[type="radio"]:checked + span {
    color: black;
}

#join-form .text-label > input[type="password"],
#join-form .text-label > input[type="text"] {
    width: 100%;
    font-size: 0.9rem;
    padding: 0.2rem;
}


#join-form > .valid-check:focus-within > .desc-text,
#join-form > .identification > .valid-check:focus-within > .desc-text {
    color: #009963;
}


#join-form > .valid-check > .text-label,
#join-form > .identification > .valid-check > .text-label,
#join-form > .identification > .valid-check > .gender-div {
    border: 1px solid #bdbdbd;
}


#join-form > .valid-check:focus-within > .text-label,
#join-form > .identification > .valid-check:focus-within > .text-label,
#join-form > .identification > .valid-check:focus-within > .gender-div {
    border: 1px solid #009963;
}

#join-form > .identification {
    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
}

#join-form a {
    text-decoration: none;
    color: #1199FF;
    font-size: 0.8rem;
}

#join-form a:hover {
    text-decoration: underline;
}

#join-form .join-btn {
    width: 100%;
    background-color: #009963ee;
    border: 1px solid #009963ee;
    border-radius: 10px;
    color: white;
    margin: 0.5rem 0;

    font-size: 1.1rem;

    padding: 0.8rem 1rem;

    cursor: pointer;
}

#join-form .join-btn:hover {
    background-color: #009963;
    border: 1px solid #009963;
}

#join-form .horizontal-bar {
    width: 100%;
    border-bottom: 1px solid #bdbdbd;

    margin: 0.5rem 0;
}

#join-form .warning {
    color: red;
    font-size: 0.8rem;
    display: none;
}

#join-form .valid-check.-invalid > span {
    color: red;
}

#join-form .valid-check.-invalid > .text-label,
#join-form .valid-check.-invalid > .gender-div{
    border: 1px solid red;
}

#join-form .valid-check.-invalid > .warning {
    display: inline-block;
}