#main {
    top: 4rem;
    margin: 0 auto;

    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#login-section {
    width: 65rem;

    padding: 5rem 1rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#login-form {
    width: 35rem;

    border: 1px solid #bdbdbd;
    border-radius: 1rem;

    padding: 3rem 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#login-form:hover,
#login-form:focus-within {
    box-shadow: 0 0 5px #bdbdbd;
}

#login-form label input[type="text"], input[type="password"]{
    border: none;
    outline: none;
}

#login-form > h1 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

#login-form > .email {
    width: 100%;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

#login-form > .password {
    width: 100%;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

#login-form > .password button {
    border: none;
    background-color: white;
    cursor: pointer;
    margin-right: 0.4rem;
}

#login-form .desc-text {
    color: #bdbdbd;
    font-size: 0.8rem;
}

#login-form .text-label {
    width: 100%;
    padding: 0.2rem;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#login-form .text-label > input[type="password"],
#login-form .text-label > input[type="text"] {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.4rem;
}

#login-form > .email:focus-within > .desc-text,
#login-form > .password:focus-within > .desc-text{
    color: #009963;
}

#login-form > .email > .text-label,
#login-form > .password > .text-label {
    border: 1px solid #bdbdbd;
}

#login-form > .email:focus-within > .text-label,
#login-form > .password:focus-within > .text-label{
    border: 1px solid #009963;
}

#login-form > .email-remember {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#login-form > .email-remember > label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2rem;
}

#login-form > .email-remember > label > .ckBox {
    border: 1px solid #bdbdbd;
    padding: 0 0.2rem;
    font-size: 0.8rem;
}

#login-form > .email-remember > label > .ckBox > i {
    color: white;
}

#login-form > .email-remember > label > span {
    font-size: 0.8rem;
}

#login-form a {
    text-decoration: none;
    color: #1199FF;
    font-size: 0.8rem;
}

#login-form a:hover {
    text-decoration: underline;
}

#login-form > .email-remember > label > input[type="checkbox"]:checked + .ckBox{
    border: 1px solid #009963;
    background-color: #009963;
}

#login-form .login-btn {
    width: 100%;
    background-color: #009963ee;
    border: 1px solid #009963ee;
    border-radius: 10px;
    color: white;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;

    font-size: 1rem;

    padding: 0.8rem 1rem;

    cursor: pointer;
}

#login-form .login-btn:hover {
    background-color: #009963;
    border: 1px solid #009963;
}

#login-form .horizontal-bar {
    width: 100%;
    border-bottom: 1px solid #bdbdbd;

    margin: 0.5rem 0;
}

#login-form button.kakao {
    width: 100%;
    background-color: #FEE500;
    border: 1px solid #FEE500;
    border-radius: 12px;
    cursor: pointer;

    padding: 0.8rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#login-form .kakao > div {
    width: 100%;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

#login-form .kakao > div > img {
    width: 1rem;
    height: 1rem;
}

#login-form .kakao > div >span {
    font-size: 1rem;
}