#result {
    top: 4rem;
    width: 100%;
    position: relative;
    padding: 2rem;
}

#result > .section-container {
    width: 65rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#result > .section-container > .result-header{
    width: 100%;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

#result > .section-container > .result-header > .d1{
    margin-top: 20px;
    margin-bottom: 50px;
    color: black;
    font-weight: bolder;
    font-size: 50px;
}

#result > .section-container > .result-header > .test-result{
    font-size: 50px;
    color: #21272A;
    margin: 0 auto;
    text-align: center;
    background-color: lightgrey;
    border-radius: 25px;
    padding: 13px;
}

#result > .section-container > .result-header > .test-result > #result-color{
    font-weight: bolder;
}

#result-desc {
    width: 90%;
    font-size: 27px;
    color: #026342;
    margin: 40px auto;
    text-align: center;
    height: 80px;
}

.result-btn-section {
    display: flex;
    flex-direction: row;
}

button[type="submit"] {
    width: 475px;
    margin: 50px auto;
    padding: 12px 20px;
    background-color: #009963;
    color: white;
    font-size: 23px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #048357; /* 버튼 hover 시 색상 변경 */
}

