#main {
    top: 4rem;
    margin: 0 auto;

    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#main {
    top: 4rem;
    margin: 0 auto;

    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#identify-user-section {
    width: 65rem;

    padding: 5rem 1rem;

    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#identify-user-section.-visible {
    display: flex;
}

#identify-user-form {
    width: 35rem;

    border: 1px solid #bdbdbd;
    border-radius: 1rem;

    padding: 3rem 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#identify-user-form:hover,
#identify-user-form:focus-within {
    box-shadow: 0 0 5px #bdbdbd;
}

#identify-user-form label input[type="text"], input[type="password"]{
    border: none;
    outline: none;
}

#identify-user-form > h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

#identify-user-form > .email,
#identify-user-form > .birth{
    width: 100%;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

#identify-user-form .desc-text {
    color: #bdbdbd;
    font-size: 0.8rem;
}

#identify-user-form .text-label {
    width: 100%;
    padding: 0.2rem;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#identify-user-form .text-label > input[type="text"] {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.4rem;
}

#identify-user-form > .email:focus-within > .desc-text,
#identify-user-form > .birth:focus-within > .desc-text {
    color: #009963;
}

#identify-user-form > .email > .text-label,
#identify-user-form > .birth > .text-label {
    border: 1px solid #bdbdbd;
}

#identify-user-form > .email:focus-within > .text-label,
#identify-user-form > .birth:focus-within > .text-label {
    border: 1px solid #009963;
}

#identify-user-form .identify-user-btn {
    width: 100%;
    background-color: #009963ee;
    border: 1px solid #009963ee;
    border-radius: 10px;
    color: white;
    margin-top: 0.5rem;

    font-size: 1rem;

    padding: 0.8rem 1rem;

    cursor: pointer;
}

#identify-user-form .identify-user-btn:hover {
    background-color: #009963;
    border: 1px solid #009963;
}

#reset-password-section {
    width: 65rem;

    padding: 5rem 1rem;

    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#reset-password-section.-visible {
    display: flex;
}

#reset-password-form {
    width: 35rem;

    border: 1px solid #bdbdbd;
    border-radius: 1rem;

    padding: 3rem 4rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#reset-password-form:hover,
#reset-password-form:focus-within {
    box-shadow: 0 0 5px #bdbdbd;
}

#reset-password-form label input[type="text"],
#reset-password-form label input[type="password"] {
    border: none;
    outline: none;
}

#reset-password-form > h1 {
    font-size: 2rem;
    margin-bottom: 4rem;
}

#reset-password-form > .password {
    width: 100%;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
}

#reset-password-form > .password button {
    border: none;
    background-color: white;
    cursor: pointer;
    margin-right: 0.4rem;
}

#reset-password-form .desc-text {
    color: #bdbdbd;
    font-size: 0.9rem;
}

#reset-password-form .text-label {
    width: 100%;
    padding: 0.2rem;

    border-radius: 5px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#reset-password-form .text-label > input[type="text"],
#reset-password-form .text-label > input[type="password"] {
    width: 100%;
    font-size: 0.8rem;
    padding: 0.4rem;
}

#reset-password-form > .password:focus-within > .desc-text{
    color: #009963;
}


#reset-password-form > .password > .text-label {
    border: 1px solid #bdbdbd;
}

#reset-password-form > .password:focus-within > .text-label{
    border: 1px solid #009963;
}


#reset-password-form .reset-password-btn {
    width: 100%;
    background-color: #009963ee;
    border: 1px solid #009963ee;
    border-radius: 10px;
    color: white;
    margin-bottom: 0.5rem;

    font-size: 1rem;

    padding: 0.8rem 1rem;

    cursor: pointer;
}

#reset-password-form .reset-password-btn:hover {
    background-color: #009963;
    border: 1px solid #009963;
}
#identify-user-form .warning,
#reset-password-form .warning {
    color: red;
    font-size: 0.8rem;
    display: none;
}

#identify-user-form .valid-check.-invalid > span,
#reset-password-form .valid-check.-invalid > span {
    color: red;
}

#identify-user-form .valid-check.-invalid > .text-label,
#reset-password-form .valid-check.-invalid > .text-label{
    border: 1px solid red;
}

#identify-user-form .valid-check.-invalid > .warning,
#reset-password-form .valid-check.-invalid > .warning {
    display: inline-block;
}